.rlglc-wrap {
  z-index: 801;
  box-shadow: unset;
  margin: 0px !important;
  left: 8px;
  top: 8px;
  font-family: "Inter",Helvetica,Arial,sans-serif;
}
.rlglc {
  background-color: white;
  cursor: default;
  border-radius: 2px;
  display: flex;
  z-index: 802;
}

.rlglc-a {
  width: 36px !important;
  height: 36px !important;
}

.rlglc-close {
  display: none;
}

.rlglc-controls {
  overflow-y: auto;
}

.rlglc-groupTitle {
  font-weight: 600;
}
