@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-100.woff2') format('woff2'), 
    url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-100.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-200.woff2') format('woff2'), 
    url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-200.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-300.woff2') format('woff2'), 
    url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-300.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-400.woff2') format('woff2'), 
    url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-400.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-500.woff2') format('woff2'), 
    url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-500.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-600.woff2') format('woff2'), 
    url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-600.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-700.woff2') format('woff2'), 
    url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-700.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-800.woff2') format('woff2'), 
    url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-800.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-900.woff2') format('woff2'), 
    url('https://www.neonscience.org/themes/custom/neon/fonts/Inter/Inter-900.woff') format('woff');  
}
